<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}{{title}}{% endblock title %} | Learn ReactJS</title>
		{% block head %}{% endblock head %}
	</head>
	<body>
		{% block body %}{% endblock body %}
	</body>
	{% comment %} {% if not request.session.username and request.path != '/' %}
	<script>
		window.location.href = "/";
	</script>
	{% endif %} {% endcomment %}
</html>
{% load sweetify %}
{% sweetify %}
