{% extends "main/base.html" %}
  {% block head %}
  <!--Import Google Icon Font-->
  {% load static %} 
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'main/css/materialize.css' %}">
  {% comment %} <link href="{% static "tinymce/my-styles.css" %}" rel="stylesheet" /> {% endcomment %}
  <style>
    .brand-logo{
        display: inline-block;
        height: 100%;
    }
  </style>
  {% endblock head %}
  {% block body %}
      <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper light-blue lighten-2">
                <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
              <a href="#!" class="brand-logo"><img src='{% static "main/assets/logo.png" %}' class="brand-logo"></a>
              <ul class="right">
                <li><a href="#">UserImg + Username</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <ul class="sidenav" id="slide-out"><br>
            <div class="container center-align">
                <img class="circle" width="150" height="150" src="https://materializecss.com/images/sample-1.jpg" alt="">
                <p>Username</p>
            </div>
            <div class="container">
                <div class="divider"></div>
            </div>
            <div style="height:63%;">
                <li><a href="{% url 'main:index'%}">Dashboard</a></li>
                <li><a href="{% url 'main:lesson' %}">Lessons</a></li>
                <li><a href="{% url 'main:assessments' %}">Quizzes & Exams</a></li>
                <li><a href="{% url 'main:achievements' %}">Achievements</a></li>
                <li><a href="{% url 'main:students' %}">My Students</a></li>
                <li><a href="{% url 'main:profile' %}">My Profile</a></li>
                <li><a href="{% url 'main:reports' %}">Reports</a></li>
                <li><a href="{% url 'main:logs' %}">Activity Logs</a></li>
            </div>
            <li><a href="#" class="red-text">Log-out</a><li>
        </ul>
        <br>
        <script>
            $(document).ready(function(){
                $('.sidenav').sidenav();
          });
          </script>
      </header>
      <main class="container">
          {% block content %}{% endblock %}
      </main>
      {% comment %} <footer class="page-footer">
          <div class="container">
              <div class="row">
                  <div class="col l6 s12">
                      <h5 class="white-text">Footer Content</h5>
                      <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                  </div>
                  <div class="col l4 offset-l2 s12">
                      <h5 class="white-text">Links</h5>
                      <ul>
                          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="footer-copyright">
              <div class="container">
                  © 2014 Copyright Text
                  <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
              </div>
          </div>
      </footer> {% endcomment %}
      <!-- Compiled and minified JavaScript -->
      <script src="{% static "main/js/materialize.js" %}"></script>
      <script>
          M.AutoInit();
          document.addEventListener("DOMContentLoaded", function () {
              var elems = document.querySelectorAll(".collapsible");
              var instances = M.Collapsible.init(elems, options);
          });
      </script>
    
        <!--prettier-ignore -->
        {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script>M.toast({html: "{{message}}", classes: 'green rounded', displayLength:5000});</script>
            {% elif message.tags == 'info'%}
                <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:5000});</script>
            {% elif message.tags == 'warning'%}
                <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength:10000});</script>
            {% elif message.tags == 'error'%}
                <script>M.toast({html: "{{message}}", classes: 'red rounded', displayLength:10000});</script>
            {% endif %}
        {% endfor %}
    {% endif %}
  {% endblock body %}

