{% extends "main/base.html" %}
  {% block head %}
  <!--Import Google Icon Font-->
  {% load static %} 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'main/css/materialize.css' %}">
  <link href="{% static "tinymce/my-styles.css" %}" rel="stylesheet" />
  {% endblock head %}
  {% block body %}
  <body>
      <header>
          <nav>
              <div class="nav-wrapper container">
                <a href="#!" class="brand-logo">Logo</a>
                <ul class="right hide-on-med-and-down">
                  <li><a>Login</a></li>
                  <li><a class="waves-effect waves-light btn green darken-1">Register</a></li>
                </ul>
              </div>
            </nav>
      </header>
      <main class="container">
          {% block content %}{% endblock %}
      </main>
      <footer class="page-footer">
          <div class="container">
              <div class="row">
                  <div class="col l6 s12">
                      <h5 class="white-text">Footer Content</h5>
                      <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                  </div>
                  <div class="col l4 offset-l2 s12">
                      <h5 class="white-text">Links</h5>
                      <ul>
                          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="footer-copyright">
              <div class="container">
                  © 2014 Copyright Text
                  <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
              </div>
          </div>
      </footer>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script>
          M.AutoInit();
          document.addEventListener('DOMContentLoaded', function() {
              var elems = document.querySelectorAll('.collapsible');
              var instances = M.Collapsible.init(elems, options);
            });
      </script>
      {% comment %} <script src="{% static "tinymce/tinymce.min.js" %}"></script> {% endcomment %}
  </body>
  {% endblock body %}

