{% extends "main/base.html" %}

  {% block head %}
  <!--Import Google Icon Font-->
  {% load static %} 
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script>
  <link rel="stylesheet" href="{% static 'main/js/materialize.js' %}">
  <link rel="stylesheet" href="{% static 'main/css/materialize.css' %}">

  {% comment %} <link href="{% static "tinymce/my-styles.css" %}" rel="stylesheet" /> {% endcomment %}
  <style>
    .brand-logo{
        display: inline-block;
        height: 100%;
    }
    #loader{
        position: absolute;
        height: 100vh;
        width: 100vw;
        padding:50vh 50vw;
        flex-direction: column;
        justify-content:center;
        z-index: 100;
        background-color: rgba(240, 248, 255, 0.671);
        backdrop-filter: blur(5px);
    }
    .swal2-container .select-wrapper{
        display: none !important;
    }
    .sidenavProfile{
        border:3px solid #4fc3f7;
    }
    #sidebar{
        background-image:;
    }
  </style>
  {% endblock head %}
  {% block body %}
  <div id="loader">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
  </div>
      <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper light-blue lighten-2">
                <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
              <a href="#!" class="brand-logo"><img src='{% static "main/assets/logo.png" %}' class="brand-logo"></a>
              <ul class="right">
                {% if request.session.username %}
                <li class="valign-wrapper"><img src="{{request.session.imagePath}}" class="circle" height="50" width="50"><a href="{% url 'main:profile' request.session.id%}">{{ request.session.username }}</a></li>
                {% else %}
                <li><a href="#">User</a></li>
                {% endif %}                    
              </ul>
            </div>
          </nav>
        </div>
        <ul class="sidenav" id="slide-out"><br>
            <div class="center-align" id="sidebar">
                <img class="circle sidenavProfile" width="150" height="150" src="{{request.session.imagePath}}" alt="">
                {% if request.session.username %}
                <p>{{request.session.username}}</p>
                {% else %}
                <p>Username</p>
                {% endif %} 
            </div>
            <div class="container">
                <div class="divider"></div>
            </div><br>
            <div style="height:63%;">
                <li><a href="{% url 'main:dashboard' %}"><i class="material-icons">home</i>Dashboard</a></li>
                <li><a href="{% url 'main:lesson' %}"><i class="material-icons">book</i>Lessons</a></li>
                <li><a href="{% url 'main:assessments'%}"><i class="material-icons">assessment</i>Quizzes & Exams</a></li>
                <li><a href="{% url 'main:achievements'%}"><i class="material-icons">card_membership</i>Achievements</a></li>
                <li><a href="{% url 'main:profile' request.session.id%}"><i class="material-icons">person</i>My Profile</a></li>
                {%if request.session.type == 'a'%}
                <li><a href="{% url 'main:students'%}"><i class="material-icons">class</i>My Students</a></li>
                <li><a href="{% url 'main:reports'%}"><i class="material-icons">line_style</i>Reports</a></li>
                <li><a href="{% url 'main:logs'%}"><i class="material-icons">track_changes</i>Activity Logs</a></li>
                {%endif%}
            </div>
            <li id="logout"><a href="#" class="red-text"><i class="material-icons">logout</i>Log-out</a><li>
        </ul>
        <br>
        <script>
            $(document).ready(function(){
                setTimeout(()=>{
                    $('#loader').hide()
                },400)
            });
          $('#logout').on('click', function(){
            Swal.fire({
                title: 'Do you want to continue',
                icon: 'question',
                confirmButtonText: 'Yes',
                confirmButtonColor: '#4fc3f7',
                showCancelButton: true,
                cancelButtonColor: 'red',
            }).then((result)=>{
                if(result.isConfirmed){
                    location.href="{% url 'main:logout'%}"
                }
            })
          })
          document.addEventListener('beforeunload', function(){
            $('#loader').show()
          })
          </script>
      </header>
      <main class="container">
          {% block content %}{% endblock %}
      </main>
      {% comment %} <footer class="page-footer">
          <div class="container">
              <div class="row">
                  <div class="col l6 s12">
                      <h5 class="white-text">Footer Content</h5>
                      <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                  </div>
                  <div class="col l4 offset-l2 s12">
                      <h5 class="white-text">Links</h5>
                      <ul>
                          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="footer-copyright">
              <div class="container">
                  © 2014 Copyright Text
                  <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
              </div>
          </div>
      </footer> {% endcomment %}
      <!-- Compiled and minified JavaScript -->
      <script src="{% static "main/js/materialize.js" %}"></script>
        <script>
            M.AutoInit()
            {% comment %} M.AutoInit();
            document.addEventListener("DOMContentLoaded", function () {
                var elems = document.querySelectorAll(".collapsible");
                var instances = M.Collapsible.init(elems, options);
            }); {% endcomment %}
        </script>
        <!--prettier-ignore -->
        {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script>M.toast({html: "{{message}}", classes: 'green rounded', displayLength:5000});</script>
            {% elif message.tags == 'info'%}
                <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:5000});</script>
            {% elif message.tags == 'warning'%}
                <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength:10000});</script>
            {% elif message.tags == 'error'%}
                <script>M.toast({html: "{{message}}", classes: 'red rounded', displayLength:10000});</script>
            {% endif %}
        {% endfor %}
    {% endif %}
  {% endblock body %}

