{% extends "main/header.html" %}
<!--prettier-ignore -->
{% block title %}Landing Page{% endblock title%} {% block content %}
<ul class="collapsible">
	{% for tut in Learn1 %}
	<li>
		<div class="collapsible-header">{{tut.title}}</div>
		<div class="collapsible-body"><span>{{tut.content|safe}}</span></div>
	</li>
	{% endfor %}
</ul>

<div class="row">
	<!--Foreach Unit display a collapsible, foreach lesson display button-->
	{% for tut in Learn1 %}
	<div class="col s12 m6 l4">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">{{tut.title}}</span>
				<p>{{tut.published}}</p>
				<p>{{tut.content|safe}}</p>
			</div>
			<div class="card-action">
				<a href="#">This is a link</a>
				<a href="#">This is a link</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<script>
	
</script>
{% endblock %}
