{% comment %} {% extends "main/header.html" %} {% endcomment %}
<!--prettier-ignore -->
{%load static%}
{%block head%}
<link rel="stylesheet" href="{% static 'main/css/login.css' %}">
{%endblock head%}
{% block title %}<title>Learn ReactJS | Log-In</title>{% endblock title%}
{% block content %}
<main>
<div class="login-page">
	<div class="form">
	  <form class="register-form">
		<input type="text" placeholder="username"/>
		<input type="password" placeholder="password"/>
		<input type="text" placeholder="email"/>
		<button type="submit">create</button>
		<p class="message">Already registered? <a href="#">Sign In</a></p>
	  </form>
	  <form class="login-form">
		<input type="text" placeholder="username"/>
		<input type="password" placeholder="password"/>
		<button type="submit">login</button>
		<p class="message">Not registered? <a href="#">Create an account</a></p>
	  </form>
	</div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
	$('.message a').click(function(){
	$('form').animate({height: "toggle", opacity: "toggle"}, "slow");
	});
  </script>
</main>
{% endblock %}
