{% include "main/header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Document</title>

    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'main/css/materialize.css' %}" />
    <style>
        .btn-small{
            margin-right: 10px;
        }
        .collapsible-body, .collapsible-header{
            padding:5px;
        }
        .collapsible-body{
            padding-left: 20px;
        }
        .card{
            padding: 10px 0px;
        }
        #profilepic{
            border: 3px solid #4fc3f7;
        }
        .swal2-input{
            width:90% !important;
            margin: 0% 5% !important;
        }
    </style>
</head>
<body>
    <main>
        <div class="container">
            <div class="card">
                <div class="center">
                    <sub>ID: {{account.id}}</sub><br><br>
                    <img src="{{account.image.url}}" alt="" height="150" width="150" class="circle modal-trigger" id="profilepic" href="#profilepicModal"><br><br>
                    <button class="btn-small green waves-effect waves-light" id="uploadButton">Change Image</button>
                </div><br>
                <form action="{% url 'main:profile' account.id %}" method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="container row">
                        <input type="file" id="userImage" name="userImage" accept="image/*" hidden>
                        <div class="divider"></div><br>
                        <div class="col s12">
                            <label for="username">Username</label>
                            <input type="text" class="validate" name="username" value="{{account.username}}">
                        </div>
                        <div class="col s6">
                            <label for="firstname">First Name</label>
                            <input type="text" class="validate" name="firstname" value="{{account.firstname}}">
                        </div>
                        <div class="col s6">
                            <label for="lastname">Last Name</label>
                            <input type="text" class="validate" name="lastname" value="{{account.lastname}}">
                        </div>
                        <div class="col s12">
                            <label for="email">E-mail Address</label>
                            <input type="email" class="validate" name="email" value="{{account.email}}">
                        </div>
                        <div class="col s12">
                            <label for="password">Password</label>
                            <input type="password" class="password" name="password" value="{{request.session.password}}">
                        </div>
                        <div class="col s12 center">
                            <br>
                            <button class="btn-small green waves-effect waves-light" type="submit">Save</button>
                            <button class="btn-small red waves-effect waves-light" type="button" id="deleteAccount">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal" id="profilepicModal">
            <div class="container modal-content center">
                <img src="" alt="" height="500" width="500" id="viewProfile">  
            </div>
            <div class="divider"></div><br>
            <div class="container row center-align">
                <button class="btn-small red waves-effect waves-light center" id="closeModal">Close</button>
            </div>
        </div>
    </main>
    <script>
        M.AutoInit();
        $(document).ready(function() {
            $('.collapsible-header .actionBtn').click(function(event) {
            event.stopPropagation();
            });
            $('.collapsible').collapsible();

        });
        $('.modal-trigger').on('click', function(){
            image = $(this).attr('src');
            $('#viewProfile').attr('src', image);
        })
        $('#closeModal').on('click', function(){
            var elems = document.querySelector('.modal');
            var instances = M.Modal.getInstance(elems);
            instances.close();
        })
        $("#uploadButton").on("click", function() {
                $("#userImage").click();
        });
        $("#userImage").on("change", handleFileSelect)
        
        function handleFileSelect(event) {
            const selectedFile = event.target.files[0];
            $("#profilepic").attr("src", URL.createObjectURL(selectedFile));
        }
        $('#deleteAccount').on('click', function(){
            Swal.fire({
                title: "You're about to delete your account!",
                text: "Enter your password to confirm this action",
                icon: "warning",
                input: 'password',
                inputAttributes: {
                    autocapitalize: 'off',
                    class: 'container',
                },
                confirmButtonColor: '#4fc3f7',
                cancelButtonColor: 'red',
                showCancelButton: true,
                preConfirm: (input)=>{
                    if (input === "{{request.session.password}}") {
                        return input;
                    }else {
                        Swal.showValidationMessage('Password incorrect, please try again!');
                    }
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.isConfirmed) {
                    location.href="{% url 'main:delete-profile' account.id %}"
                }
            })
        })
    </script>
</body>
</html>