{% extends "main/header.html" %}
<!--prettier-ignore -->
{% block title %}Register{% endblock title%} {% block content %}
<form class="col s14" method="POST">{% csrf_token %} {{form}}</form>
If you already have an account, <a href="/login">login</a> instead.
<main class="container">
	<div class="row">
		<form class="col s12" id="reg-form">
			<div class="row">
				<div class="input-field col s12">
					<input id="first_name" type="text" class="validate" required />
					<label for="first_name">Username</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="email" type="email" class="validate" required />
					<label for="email">Email</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input
						id="password"
						type="password"
						class="validate"
						minlength="6"
						required />
					<label for="password">Password</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<div class="gender-male">
						<input
							class="with-gap"
							name="gender"
							type="radio"
							id="male"
							required />
						<label for="male">Male</label>
					</div>
					<div class="gender-female">
						<input
							class="with-gap"
							name="gender"
							type="radio"
							id="female"
							required />
						<label for="female">Female</label>
					</div>
				</div>

				<div class="input-field col s6">
					<button
						class="btn btn-large btn-register waves-effect waves-light"
						type="submit"
						name="action">
						Register
						<i class="material-icons right">done</i>
					</button>
				</div>
			</div>
		</form>
	</div>
	<a
		title="Login"
		class="ngl btn-floating btn-large waves-effect waves-light red"
		><i class="material-icons">input</i></a
	>
</main>

<!--prettier-ignore -->
{% endblock content%}
