{% include "main/header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Document</title>

    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'main/css/materialize.css' %}" />
    <style>
        .btn-small{
            margin-right: 10px;
        }
        .collapsible-body, .collapsible-header{
            padding:5px;
        }
        .collapsible-body{
            padding-left: 20px;
        }
        thead{
            color: white;
            background-color: #4fc3f7;
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <main>
        <div class="container">
            <div class="page-content page-container" id="page-content">
                <div class="padding">
                    <div class="row container d-flex justify-content-center">
                        <div class="col-xl-5 col-md-12">
                            <div class="card user-activity-card">
                                <div class="card-header">
                                    <h5>Activity Logs</h5>
                                </div>
                                <div class="card-block">
                                    <div class="row m-b-25">
                                        <div class="col-auto p-r-0">
                                            <div class="u-img"> <img src=" https://i.imgur.com/UIhwGhr.jpg" alt="user image" class="img-radius cover-img"> <img src="https://img.icons8.com/ultraviolet/40/000000/active-state.png" alt="user image" class="img-radius profile-img"> </div>
                                        </div>
                                        <div class="col">
                                            <h6 class="m-b-5">Name</h6>
                                            <p class="text-muted m-b-0">Activity Description</p>
                                            <p class="text-muted m-b-0"><i class="mdi mdi-timer feather icon-clock m-r-10"></i>Time Stamp</p>
                                        </div>
                                    </div>
                                    <div class="row m-b-25">
                                        <div class="col-auto p-r-0">
                                            <div class="u-img"> <img src="https://i.imgur.com/rAInTHU.jpg" alt="user image" class="img-radius cover-img"> <img src="https://img.icons8.com/office/16/000000/active-state.png" alt="user image" class="img-radius profile-img"> </div>
                                        </div>
                                        <div class="col">
                                            <h6 class="m-b-5">Name</h6>
                                            <p class="text-muted m-b-0">Activity Description</p>
                                            <p class="text-muted m-b-0"><i class="mdi mdi-timer feather icon-clock m-r-10"></i>Time Stamp</p>
                                        </div>
                                    </div>
                                    <div class="row m-b-25">
                                        <div class="col-auto p-r-0">
                                            <div class="u-img"> <img src="https://i.imgur.com/rAInTHU.jpg" alt="user image" class="img-radius cover-img"> <img src="https://img.icons8.com/office/16/000000/active-state.png" alt="user image" class="img-radius profile-img"> </div>
                                        </div>
                                        <div class="col">
                                            <h6 class="m-b-5">Name</h6>
                                            <p class="text-muted m-b-0">Activity Description</p>
                                            <p class="text-muted m-b-0"><i class="mdi mdi-timer feather icon-clock m-r-10"></i>Time Stamp</p>
                                        </div>
                                    </div>
                                    <div class="row m-b-25">
                                        <div class="col-auto p-r-0">
                                            <div class="u-img"> <img src=" https://i.imgur.com/UIhwGhr.jpg" alt="user image" class="img-radius cover-img"> <img src="https://img.icons8.com/ultraviolet/40/000000/active-state.png" alt="user image" class="img-radius profile-img"> </div>
                                        </div>
                                        <div class="col">
                                            <h6 class="m-b-5">Name</h6>
                                            <p class="text-muted m-b-0">Activity Description</p>
                                            <p class="text-muted m-b-0"><i class="mdi mdi-timer feather icon-clock m-r-10"></i>Time Stamp</p>
                                        </div>
                                    </div>
                                    <div class="text-center"> <a href="#!" class="b-b-primary text-primary" data-abc="true">View all Projects</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="pagination center">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
              </ul>
        </div>
    </main>
    <script>
        M.AutoInit();
        $(document).ready(function() {
            $('.collapsible-header .actionBtn').click(function(event) {
            event.stopPropagation();
            });
            $('.collapsible').collapsible();
        });
        for(x = 0; x < 30; x++){
            $('tbody').append(`
            <tr>
                <td>Sample</td>
                <td>Sample</td>
                <td>Sample</td>
                <td>Sample</td>
            </tr>
            `)
            // if(x%20 == 0){
            //     $('.pagination').append('<li class="waves-effect"><a href="#!">'+(x/20)+1+'</a></li>')
            // }
        }
    </script>
</body>
</html>