{% include "main/header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Document</title>

    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'main/css/materialize.css' %}" />
    <style>
        .btn-small{
            margin-right: 10px;
        }
        .collapsible-body, .collapsible-header{
            padding:5px;
        }
        .collapsible-body{
            padding-left: 20px;
        }
    </style>
</head>
<body>
    <main>
        <div class="container row">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header row valign-wrapper">
                        <p class="col s12">Quizzes</p>
                        {%if request.session.type == 'a'%}
                        <button class="btn-small col s2 waves-effect waves-light actionBtn" onclick="location.href='{%url 'main:create-assessment' 'quiz' %}'">Add New Quiz</button>
                        {%endif%}
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            {%for quiz in quizzes%}
                            <li>
                                <div class="valign-wrapper row">
                                    <a href="{%url 'main:take-assessment' 'quiz' quiz.id%}" class="col s12">{{quiz.title}}</a>
                                    {%if request.session.type == 'a'%}
                                    <button class="btn-small" onclick="location.href='{% url "main:edit-assessment" 'quiz' quiz.id %}'">Edit</button>
                                    <button class="btn-small red removeAssessment" target-data='{{quiz.id}}'>remove</button>
                                    {%endif%}
                                </div>
                            </li>
                            {%endfor%}
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header row valign-wrapper">
                        <p class="col s12">Examinations</p>
                        {%if request.session.type == 'a'%}
                        <button class="btn-small col s2 waves-effect waves-light actionBtn" onclick="location.href='{%url 'main:create-assessment' 'exam'%}'">Add New Exam</button>
                        {%endif%}
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            {% for exam in exams %}
                            <li>
                                <div class="valign-wrapper row">
                                    <a href="{%url 'main:take-assessment' 'exam' exam.id%}" class="col s12">Learn ReactJS Course</a>
                                    {%if request.session.type == 'a'%}
                                    <button class="btn-small" onclick="location.href='{% url "main:edit-assessment" 'exam' exam.id %}'">Edit</button>
                                    <button class="btn-small red removeAssessment" target-data='{{exam.id}}'>remove</button>
                                    {%endif%}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <script>
        $('.removeAssessment').on('click', function(){
            targetData = $(this).attr('target-data')
            Swal.fire({
                title: "You're about to delete your account!",
                text: "Enter your password to confirm this action",
                icon: "warning",
                input: 'password',
                inputAttributes: {
                    autocapitalize: 'off',
                    class: 'container',
                },
                confirmButtonColor: '#4fc3f7',
                cancelButtonColor: 'red',
                showCancelButton: true,
                preConfirm: (input)=>{
                    if (input === "{{request.session.password}}") {
                        return input;
                    }else {
                        Swal.showValidationMessage('Password incorrect, please try again!');
                    }
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.isConfirmed) {
                    location.href="{% url 'main:delete-assessment' 0 %}".replace(0,targetData)
                }
            })
        })
        M.AutoInit();        
    </script>
</body>
</html>