{% include "main/header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Assessment Section</title>
    <style>
        textarea {
            resize: none;
            height: 250px;
        }

        .questionBox {
            padding: 5px 10px;
        }
    </style>
</head>
<body>
<main class="container">
    <form action="{% url 'main:edit-assessment' type quiz.id%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col s8">
                <label for="assessmentTitle">Title</label>
                <input type="text" name="assessmentTitle" placeholder="Assessment Title" value="{{quiz.title}}" required>
            </div>
            <div class="col s4">
                <label for="assessmentRef">Target Lesson</label>
                <input type='text' name='assessmentRef' value="{{quiz.lesson}}" readonly>
            </div>
        </div>
        <div id="questionContainer">
           
        </div>
        <div class="buttons center">
            <button type="submit" class="btn-small">Submit</button>
        </div>
    </form>
</main>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function() {
        x = 1
        {%for item in quizzes_question%}
        question = `<div class="card questionBox">
            <textarea name="question${x}" class="questionBox" placeholder="Write your question here...">{{item.question_text}}</textarea>
            <ul>
                <li class="valign-wrapper">A. <input type="text" name="option${x}A" value='{{item.optionA}}'></li>
                <li class="valign-wrapper">B. <input type="text" name="option${x}B" value='{{item.optionB}}'></li>
                <li class="valign-wrapper">C. <input type="text" name="option${x}C" value='{{item.optionC}}'></li>
                <li class="valign-wrapper">D. <input type="text" name="option${x}D" value='{{item.optionD}}'></li>
            </ul>
            <div>
                <label for="correctAnswer${x}">Correct Answer</label>
                <select name="correctAnswer${x}">
                    <option value="{{item.correct_choice}}" selected>Answer: {{item.correct_choice}}</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>
        </div>`
        $('#questionContainer').append(question);
        x++
        {%endfor%}
        M.AutoInit();
    });
    M.AutoInit();
</script>
</body>
</html>
