{% include "main/header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Document</title>


    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'main/css/materialize.css' %}" />
    <style>
        .btn-small{
            margin-right: 10px;
        }
        .collapsible-body, .collapsible-header{
            padding:5px;
        }
        .collapsible-body{
            padding-left: 20px;
        }
    </style>
</head>
<body>
    <main>
        <div class="container">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header row valign-wrapper">
                        <p class="col s12">Unit 1</p>
                        {%if request.session.type == 'a'%}
                        <button class="btn-small col s2 waves-effect waves-light actionBtn actionBtn" href=''>Add</button>
                        <button class="btn-small col s2 waves-effect waves-light actionBtn actionBtn">Edit</button>
                        <button class="btn-small red col s2 waves-effect waves-light actionBtn actionBtn">remove</button>
                        {%endif%}
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            {% for lesson in lessons %}
                            <li>
                                <div class="valign-wrapper row">
                                    <a href="{% url 'main:viewLesson' lesson.id%}" class="col s12">{{lesson.title}}</a>
                                    {%if request.session.type == 'a'%}
                                    <button class="btn-small col s1 waves-effect waves-light" onclick="location.href='{% url 'main:edit-lesson' lesson.id%}'">Edit</button>
                                    <button class="btn-small red col s1 waves-effect waves-light">remove</button>
                                    {%endif%}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <script>
        M.AutoInit();
        $(document).ready(function() {
            $('.collapsible-header .actionBtn').click(function(event) {
            event.stopPropagation();
            });
            $('.collapsible').collapsible();
        });
    </script>
</body>
</html>