{% include "main/header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Document</title>


    {% load static %}
    <style>
        .btn-small{
            margin-right: 10px;
        }
        .collapsible-body, .collapsible-header{
            padding:5px;
        }
        .collapsible-body{
            padding-left: 20px;
        }
        .noContentMessage{
            width: 70vw;
            height: 70vh;
            padding: 15% 0px;
        }
    </style>
</head>
<body>
    <main>
        <div class="container">
            <div class="row">
                <button class="btn-small col s2 waves-effect waves-light right" id="newUnit">Add New Unit and Lesson</button>
            </div>
            {%if units%}
            {%for unit in units%}
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header row valign-wrapper">
                        <p class="col s12">Unit {{unit}}</p>
                        {%if request.session.type == 'a'%}
                        <button class="btn-small col s2 waves-effect waves-light actionBtn" onclick="location.href='{% url 'main:create-lesson' unit %}'">Add New Lesson</button>
                        {% comment %} <button class="btn-small col s2 waves-effect waves-light actionBtn">Edit</button> {% endcomment %}
                        <button class="btn-small red col s2 waves-effect waves-light removeUnit actionBtn" target-data={{unit}}>remove</button>
                        {%endif%}
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            {% for lesson in lessons %}
                            {%if lesson.unitNo == unit%}
                            <li>
                                <div class="valign-wrapper row">
                                    <a href="{% url 'main:viewLesson' lesson.id%}" class="col s12">{{lesson.title}}</a>
                                    {%if request.session.type == 'a'%}
                                    <button class="btn-small col s1 waves-effect waves-light" onclick="location.href='{% url 'main:edit-lesson' lesson.id%}'">Edit</button>
                                    <button class="btn-small red col s1 waves-effect waves-light removeLesson" target="{{lesson.id}}">remove</button>
                                    {%endif%}
                                </div>
                            </li>
                            {%endif%}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
            {%endfor%}
            {%else%}
            <div class="card container noContentMessage">
                <div class="center">
                    <img src="{%static 'main/assets/box.png'%}" height="150" width="150">
                    <h5>There are currently no lessons uploaded...</h5>
                </div>
            </div>
            {%endif%}
        </div>
    </main>
    <script>
        M.AutoInit()
        $(document).ready(function() {
            $('.collapsible-header .actionBtn').click(function(event) {
            event.stopPropagation();
            });
        });
        $('.removeLesson').on('click', function () {
            var lessonID = $(this).attr('target-data');
            Swal.fire({
                title: 'Are you sure you want to delete this?',
                icon: 'question',
                confirmButtonText: 'Yes',
                confirmButtonColor: '#4fc3f7',
                showCancelButton: true,
                cancelButtonColor: 'red',
            }).then((result) => {
                if (result.isConfirmed) {
                    var deleteUrl = "{% url 'main:delete-lesson' 0 %}".replace('0', lessonID);
                    location.href = deleteUrl;
                }
            });
        });
        $('.removeUnit').on('click', function () {
            var unit = $(this).attr('target-data');
            Swal.fire({
                title: 'Are you sure you want to delete this?',
                icon: 'question',
                confirmButtonText: 'Yes',
                confirmButtonColor: '#4fc3f7',
                showCancelButton: true,
                cancelButtonColor: 'red',
            }).then((result) => {
                if (result.isConfirmed) {
                    var deleteUrl = "{% url 'main:delete-unit' 0 %}".replace('0', unit);
                    location.href = deleteUrl;
                }
            });
        });
        $('#newUnit').on("click", function(){
            location.href="{% url 'main:create-lesson' 0 %}".replace('0', {{units|last}}+1)
        })
    </script>
</body>
</html>