{% include "main/header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tiny.cloud/1/xervcooe8f3ms8edh906ysdceywtls38l4yywnigy1zx1jk1/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>    
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'main/css/materialize.css' %}" />
    <title>Lesson Editor</title>
    <style>
        textarea{
            resize: none;
        }
        .collapsible-body, .collapsible-header{
            padding:5px;
        }
        .collapsible-body{
            /* padding-left: 20px; */
            padding: 20px 20px;
        }
    </style>
</head>
<main class="row">
    {% comment %} <div class="col s12">
    </div> {% endcomment %}
    <div class="container col s2">
        {%for unit in units%}
        <ul class="collapsible">
            <li>
                <div class="collapsible-header valign-wrapper">
                    <p class="col s8">Unit {{unit}}</p>
                    <button class="btn-small col s4 waves-effect waves-light actionBtn actionBtn" onclick="location.href='{% url 'main:create-lesson' unit %}'">Add</button>
                </div>
                <div class="collapsible-body">
                    <ul>
                        {%for lesson in lessons%}
                        {%if lesson.unitNo == unit%}
                        <li>
                            <div class="valign-wrapper">
                                <a href="{% url 'main:edit-lesson' lesson.id%}">{{lesson.title}}</a>
                            </div>
                        </li><br>
                        {%endif%}
                        {%endfor%}
                    </ul>
                </div>
            </li>
        </ul>
        {%endfor%}
    </div>
    <div class="col s10">   
        <form action="{%url 'main:create-lesson' currUnit%}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col s6">
                    <label for="title">Title</label>
                    <input type="text" name="title" placeholder="Title" required>
                </div>
                <div class="col s2">
                    <label for="unitNo">Unit No.</label>
                    <input type="number" name="unitNo" id="unitNo" value="{{currUnit}}" required>
                </div>
                <div class="col s2">
                    <label for="lessonNo">Lesson No.</label>
                    <input type="number" name="lessonNo" id="lessonNo" required readonly>
                </div>
                <div class="col s10">
                    <textarea name="content" >
                        Write your lesson here!
                    </textarea><br>
                </div>
                <div class="col center s1">
                    <button class="btn-large center-align" type="submit">Create</button>
                    {% comment %} <button class="btn-large center-align red">Cancel</button> {% endcomment %}
                </div> 
                <div class="col center s10">
                    <button class="btn-large center-align" type="submit">Create</button>
                </div> 
            </div>
        </form>
    </div>
<script>
    tinymce.init({
        selector: 'textarea',
        height: 700,
        plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
          { value: 'First.Name', title: 'First Name' },
          { value: 'Email', title: 'Email' },
        ],
        ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
    });
    M.AutoInit();
    $(document).ready(function(){
        $('.collapsible-header .actionBtn').click(function(event) {
        event.stopPropagation();
        });
        $('.collapsible').collapsible();
        $('select').formSelect()
        {%if units%}
        {% for lesson in lessons %}
            {% if lesson.unitNo == currUnit %}
            $('#lessonNo').val({{lesson.lessonNo}}+1)
            {%else%}
            $('#lessonNo').val(1)
            {% endif %}
        {% endfor %}
        {%else%}
        $('#lessonNo').val(1)
        {%endif%}
    });
    $('#newUnit').on("click", function(){
        location.href="{% url 'main:create-lesson' 0 %}".replace('0', {{units|last}}+1)
    })
</script>

</main>
</html>
