{% include "main/header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'main/css/materialize.css' %}" />
</head>
<body>
    <main class="container">
        <br>
        <a href="{% url "main:students_new" %}" class="btn">Add</a>
        <br>
        <table class="highlight">
            <thead>
              <tr>
                  <th>Student number</th>
                  <th>Username</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Actions</th>
              </tr>
            </thead>
    
            <tbody>
                {% comment %} <a href="{% url "admin_update_student" %}"></a> {% endcomment %}
                <tr>
                    <td>
                        20191150987
                    </td>
                    <td>
                        JuanGenggeng
                    </td>
                    <td>
                        Juan
                    </td>
                    <td>
                        Dela Cruz
                    </td>
                    <td>
                        JuanDC@gmail.com
                    </td>
                    <td class="centered">
                        <a class="btn">Update</a>
                        <a class="btn red accent-3">Remove</a>
                    </td>
                </tr>
                {% for std in students %}
                <tr>
                    <td>
                        {{ std.student_no }}
                    </td>
                    <td>
                        {{ std.username }}
                    </td>
                    <td>
                        {{ std.firstname }}
                    </td>
                    <td>
                        {{ std.lastname }}
                    </td>
                    <td>
                        {{ std.email }}
                    </td>
                    <td class="centered">
                        <a class="btn">Update</a>
                        <a class="btn red accent-3">Remove</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>