{% extends "main/header.html" %}

{% block content %}
<div class="row">
    <div class="col s12 m10 card">
        <form action="{% url 'main:score' type id%}" method='POST'>
          {%csrf_token%}
                <br>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
                </button>
                <br>
          </form>
    </div>
</div>
<script>
  x = 1
  {%for item in questions%}
    q = `<blockquote name="Q${x}">
      {{item.question_text}}
      <input type="hidden" name="Q${x}ID" value="{{item.id}}">
    </blockquote>
    <label>
      <input name="A${x}" type="radio" value="A"/>
      <span>{{item.optionA}}</span>
    </label>
    <label>
      <input name="A${x}" type="radio" value="B"/>
      <span>{{item.optionB}}</span>
    </label>
    <label>
      <input name="A${x}" type="radio" value="C"/>
      <span>{{item.optionC}}</span>
    </label>
    <label>
      <input name="A${x}" type="radio" value="D"/>
      <span>{{item.optionD}}</span>
    </label>
      <br>`
      x++
      $('form').prepend(q)
      {%endfor%}
</script>

{% endblock content %}